

body { 
  background-image:
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link { 
    background-color: #FB5B5C;
}


.h2, h2 {
    font-size: calc(1.325rem + .9vw);
    color: black;+
    text-align: center;
    text-decoration: underline #5216c263 ;
}
   
a {
  color: white; ,var(--bs-link-opacity,1));
  text-decoration: underline;
}
#carousel-item {
  
}